body {
  background-color: powderblue;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-width: 10px;
  border-color: grey
}

img {
  height: 150px
}
h1 {
  color: #66BFBF;
}
h3 {
  color : #66BFBF;
}
